{% extends 'base.twig' %}

{% block body %}
<div class="container">
  <h1>Page not found!</h1>
  
  <br>
  <br>
  <img src="templates/img/404.svg">
  
  <h2>На главную <a href="index.php">страницу</a> сайта</h2>
  
</div>
{% endblock %}
